.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    background-color: #000;
    font-family: poppins, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
}

#main-logo {
    width: 500px;
    display: block;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    /*margin top and bottom, 0. Margin left and right auto */
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

#character_nav {
    background-color: #414141;
    background-image: url('../images/darkimages/bgimg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.characters {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.characters li {
    height: 220px;
    margin: 10px 8px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 155px 0 rgb(64, 64, 64) inset;
    transition: box-shadow .2s ease;
}

.characters li a {
    text-decoration: none;
}

.characters li:hover {
    box-shadow: 0 220px 0 rgb(68, 68, 68) inset;
}

.characters li h5 {
    color: #fff;
    padding: 12px 8px;
}

article, #instructions {
    padding: 20px;
}

article h3, #instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

article p, #instructions p {
    font-size: 18px;
    text-align: center;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url('../images/darkimages/darksprite.jpg');
}

#hannah {background-position: -150px 0;}
#ulrich {background-position: -300px 0;}
#katharina {background-position: -450px 0;}
#magnus {background-position: -600px 0;}
#martha {background-position: -750px 0;}

#jonas:hover, #hannah:hover, #ulrich:hover, #katharina:hover, #magnus:hover, #martha:hover {
    background-position-y: -150px;
}

footer {
    text-align: center;
    padding: 20px 0;
}

.sticky_footer {
    height: 80px;
    background-color: rgb(40,37,37);
    position: sticky;
    top: 100%;
}

.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.85);
    background-image: url('../images/darkimages/jonas_lb.jpeg');
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    display: none;
}

#lightbox2 {
    background-image: url('../images/darkimages/hannah_lb.jpeg');
}

#lightbox3 {
    background-image: url('../images/darkimages/ulrich_lb.jpeg');
}

#lightbox4 {
    background-image: url('../images/darkimages/katharina_lb.jpeg');
}

#lightbox5 {
    background-image: url('../images/darkimages/magnus_lb.png');
}

#lightbox6 {
    background-image: url('../images/darkimages/martha_lb.jpeg');
}

.lightbox_close {
    position: absolute;
    top: 20px;
    right: 5%;

    color: white;
    font-size: 36px;

    text-decoration: none;
    font-weight: bolder;

    transition: all .5s ease-in-out;
}

.lightbox_close:hover {
    opacity: 0.5;
    color: rgb(0, 0, 0);
}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading {
    text-align: left;
}

.lb_text {
    line-height: 26px;
}

/* .lightbox#lightbox2 or .lightbox#lightbox */
.lightbox:target {
    display: block;
}
